{% extends 'base.html.j2' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="content">
        <img class="bg" src="{{ bg_img_url }}" alt="">
        <div class="quote">
            <p id="text">{{ quote }}</p>
            <p id="author">{{ author }}</p>
        </div>
    </div>
{% endblock %}



